<article class="card-area">
    <div (click)="showInnerPage(item)" class="card col-md-2" *ngFor="let item of movieData">
        <img src = "https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="card-img" alt="...">
        <i class="far fa-play-circle"></i>
    </div>
</article>

<article class="card-area">
    <div (click)="showInnerPage(item)" class="card col-md-2" *ngFor="let item of tvSerieData">
        <img src = "https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="card-img" alt="...">
        <i class="far fa-play-circle"></i>
    </div>
</article>

<article class="card-area">
    <div (click)="showInnerPage(item)" class="card col-md-2" *ngFor="let item of watchlistData">
        <img src = "https://image.tmdb.org/t/p/w500{{item.poster_path}}" class="card-img" alt="...">
        <i class="far fa-play-circle"></i>
    </div>
</article>