

.video .film {
    width: 50%;
    height: 450px;
    margin: auto !important;
    position: absolute;
    z-index: 100;
    top: 56px;
    left: 25%;
}

.season{width: 230px;
    float: left;
    position: absolute;
    right: 0px;
    top: 25px;
    z-index: 10;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background-color: #007bff;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

video {
    background-color: black;
    position: relative;
}

.info {
    width: 50%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating{
    width: 80px !important;
}

.rating .btn {
    padding: 0px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(253, 253, 253);
    border-image: initial;
    background: transparent;
    border-radius: 4px;
    height: 35px;
    cursor: pointer;
    color: #ffffff;
    margin: 0px 0px 0px 15px;
    font-weight: 700;
}

.name {
    color: #ffffff !important;
    max-width: 690px;
    font-size: 24px !important;
}

.name h3{
    font-size: 24px;

}

.rating span {
    margin-left: 10px;
    color: #ffffff;
    font-weight: 700;
}

.description {
    width: 50%;
    max-height: 500px;
    display: flex;
    margin:30px auto;
    overflow: hidden;
    padding: 0px;
}

.description .poster {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.description .poster img {
    width: 185px;
    height: 280px;
    object-fit: cover;
}

.description .poster .btn {
    width: 185px;
    margin-top: 15px;
    font-size: 11px;
}

.description-info {
    padding: 0px;
    background-color: #282C33;
}

.movie-info {
    color: #ffffff;
    padding: 26px 26px 16px;
    border-bottom: 1px solid rgb(54, 54, 55);
}

h6,p{
    font-size: 13px !important;
}

span{
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #ACB4C7;
}

.directors{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 26px 26px 16px;
}

.directors p {
    margin: 0px 0px 5px;
    color: #ACB4C7;
}

.plot{
    padding: 0px 26px 16px;
    color: #ACB4C7;
}

.similar{
    width: 50%;
    padding: 0px;
    margin: 30px auto;
    background-color: #282C33;
    position: relative;
}

.arrow{
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 55px;
}

.arrow button {
    border: none;
    background-color: transparent;
}
.cast{
    border-right: 1px solid rgb(65, 65, 65);;
}
.arrow button:focus{
    border: none;
    background-color: transparent;
    outline: none;
}

.buttons{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(65, 65, 65) !important;
}

.buttons .btn{
    color:#fff;
    padding: 15px 40px;
    width: 145px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

.comments{
    width: 50%;
    padding: 12px;
    margin: 30px auto;
    background-color: #282C33;
    color: #ffffff;
    height: auto;
    border-radius: 5px;
}

.genre,.country,.language{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.modal-header{
    background-color: #202328 !important;
}

h6{
    margin-left: 3px;
    color: #1C7DB1;
    display: inline-block;
    cursor: pointer;
}

.modal-body{
    padding-bottom: 0px;
    background-color: #202328 !important;

}

.textarea{
    margin-top: 50px !important;

}

.textarea textarea {
    background-color: #202328 !important;

}

.form-check{
    margin-top: 15px !important;
}

.form-check input {
    width: 20px;
    height: 20px;
}

.form-check label {
    padding-left: 7px !important;
    font-size: 14px;
    color: #696969;
    
}

::placeholder {
    font-size: 14px;
}

.modal-footer{
    padding: 0px 10px 10px 10px !important;
    background-color: #202328 !important;

}

.modal-footer button {
    font-size: 17px !important;
}

.add{
    width: 65%;
    margin: auto;
    height: 40px;
   }
   
   .add ul{
       display: flex;
       justify-content: flex-end;
       margin: 0px;
       padding: 0px 0px 0px;  
   }
   .add ul li {
       padding: 0px 5px;
   }
   .add ul li button{
       background-color: #191B20;
       border-color: #191B20;
       width: 40px;
       height: 40px;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
   }














   .card{
    border: 1px solid rgba(var(--lightGrey), 1);
    border-radius: var(--imageBorderRadius);
    background-color: #282C33;
}



.avatar{
    width: 64px;
    margin-right: 20px;
}

.info2{
    width: 100%
}

.rating_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.rating_wrapper h3{
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.3em;
    font-weight: 700;
}

.rating2{
    padding: 1px 8px;
    margin-left: 14px;
    font-size: 0.9em;
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #000;
    border-color: #000;
    border-radius: var(--imageBorderRadius);
    color: #fff
}

.rating2 span{
    margin-right: 2px;
    color: #fff;
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-49-star-67a24f6d4324aa644c594653e762b1c0de2b3e1ce0852171cfa49cc2650de374.svg');
}

.info h5{
    font-weight: 300;
    font-size: 0.9em;
    margin-bottom: 0;
}

.teaser {
    padding-top: 20px;
    box-sizing: border-box;
}

a{
    color: #fff;
    text-decoration: none;
}

